<header>
  <img src="assets/logo.png" alt="logo" />
  <div class="banner">
    <img src="assets/banner.jpg" alt="banner">
    <div class="headline">
      <h2>Conheça a Plataforma<br />que irá transformar a conexão<br />entre Startups e Investidores</h2>
    </div>
    <a href="#baixo">FAÇA PARTE DESSA REDE</a>
  </div>
</header>
<div class="background">
  <div class="formulario" id="baixo">
    <h2>Cadastre-se:</h2>

    <%= render 'form' %>

    <img src="/assets/arte.png">
    <div class="fb-like" data-href="http://iteratrack.co " data-width="450" data-action="recommend" data-show-faces="true" data-send="true"></div>
  </div>
</div>
